body {
  background-color: #735751;
  color: #fdffff;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

a:link,
a:visited,
a:hover,
a:active {
  color: greenyellow;
}

img {
  width: 600px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

div.form-group {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.btn {
  background-color: #339960;
  color: #fdffff;
  padding: 5px 20px;
  border-style: none;
}

#chart-area {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
