body {
  background-color: #735751;
  color: #fdffff;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

img {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  background-color: #339960;
  color: #fdffff;
  padding: 5px 20px;
  border-style: none;
}
